<div class="d-flex p-2 bg-flex mb-1">How components are interact??? Parent to child and child to parent??? Answer is using @input and @output decorator.</div>
<div class="col-lg-7 mt-lg-0 mt-3">
  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">{{"Hello " + parentData}}</li>
    <li class="list-group-item list-group-item-danger">Attribute define by HTMl</li>
    <li class="list-group-item list-group-item-danger">Property define by DOM</li>
    <li class="list-group-item list-group-item-danger">Attribute value cannot be changed once they are initilized</li>
    <li class="list-group-item list-group-item-danger">Attribute value cannot be changed once they are initilized</li>
    <li class="list-group-item list-group-item-danger">Property value however can change.</li>
  </ul>
</div>