<div class="pb-5 typo-wthree">
  <h3 class="agile-title">Welcome</h3>
  <div class="d-flex p-2 bg-flex mb-1">I'm {{name}}!</div>
  <div class="col-lg-7 mt-lg-0 mt-3">
    <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla accumsan
      ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </div>
  <div class="d-flex p-2 bg-flex mb-1">Property Binding</div>
  <div class="col-lg-7 mt-lg-0 mt-3">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger">Attribute and Property are not same</li>
      <li class="list-group-item list-group-item-danger">Attribute define by HTMl</li>
      <li class="list-group-item list-group-item-danger">Property define by DOM</li>
      <li class="list-group-item list-group-item-danger">Attribute value cannot be changed once they are initilized</li>
      <li class="list-group-item list-group-item-danger">Attribute value cannot be changed once they are initilized</li>
      <li class="list-group-item list-group-item-danger">Property value however can change.</li>
    </ul>
  </div>
  <div class="col-lg-7 mt-lg-0 mt-3">
    <div class="contact-top1 px-3 py-5">
      <form action="#" method="get" class="f-color">
        <div class="form-group">
          <input value="property binding example" type="text" class="form-control" [id]="myId" required="">
        </div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">cannot we use interpolation to bind to the id of element ????? </li>
          <li class="list-group-item list-group-item-success">Answer is yes </li>
          <div class="form-group">
            <input value="interpolation example to bind property" type="text" class="form-control" id={{myId}} required="">
          </div>
          <li class="list-group-item list-group-item-danger">If yes then why do we need property binding ????? There is some limitation with interpolation, there are some boolen property in HTMl which need to bind, lets take a look an example. </li>          
            <input disabled value="disable example" type="text" class="form-control" id={{myId}} required="" style="color:black !important;">
          <li class="list-group-item list-group-item-danger"> above inupt is disable and if we set disable="true" or false that will not work so this is problem lets look a solution</li>
          <li class="list-group-item list-group-item-danger"> if we use disabled like [disabled]=true or false it will work</li>
          <input [disabled]="false" value="disable is now enable" type="text" class="form-control" id={{myId}} required="" style="color:black !important;">
          <input [disabled]="IsDisable" value="disable is now disable" type="text" class="form-control" id={{myId}} required="" style="color:black !important;">
          <input bind-disabled="IsDisable" value="you can also use bind-disabled" type="text" class="form-control" id={{myId}} required="" style="color:black !important;">
        </ul>                
      </form>
    </div>
  </div>
</div>