<div class="col-lg-7 mt-lg-0 mt-3">
  <ul class="list-group">
    <li></li>
  </ul>
  <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla accumsan
    ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
  <p>Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus at, semper varius orci. Nulla accumsan
    ac elit in congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
  </p>
  <p>Pips Examples</p>
  <p>Name: {{name}}</p>
  <p>lowercase pip is (lowercase) : {{message | lowercase}}</p>
  <p>uppercase pip is (uppercase)  {{message | uppercase}}</p>
  <p>person pip in json (json)  {{person | json}}</p>
  <p>slice pip is slice (codevolution)  {{name2 | slice:3}}</p>
  <p>slice pip is slice (codevolution)  {{name2 | slice:3:5}} not include fifth letter so give ev</p> 
  <h2>{{ 5.678 | number:'1.2-3' }}</h2>
  <h2>{{ 5.678 | number:'3.4-5' }}</h2>
  <h2>{{ 5.678 | number:'3.1-2' }}</h2>

  <h2>{{ 05.8 | percent }}</h2>

  <h2>{{ 05.8 | currency }}</h2>
  <h2>{{ 05.8 | currency:'GBP':'code' }}</h2>
  <h2>{{ date | date:'short' }}</h2>
  <h2>{{ date }}</h2>
</div>