<h2>User detail</h2>
<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="https://www.w3schools.com/howto/img_avatar2.png" class="img-responsive" width="10%">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                           Name -  {{user.name}}
                    </div>
                    <div class="profile-usertitle-job">
                            Email - {{user.email}}
                    </div>                    
                    <div class="profile-usertitle-job">
                            Created- {{user.created}}
                    </div>
                </div>                
            </div>
        </div>        
    </div>
</div>